<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>HolaMundo</servlet-name>
        <servlet-class>servlets.ejemplo1.HolaMundo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloWWW2</servlet-name>
        <servlet-class>servlets.ejemplo2.HelloWWW2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThreeParams</servlet-name>
        <servlet-class>servlets.ejemplo3.ThreeParams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowParameters</servlet-name>
        <servlet-class>servlets.ejemplo4.ShowParameters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRequestHeaders</servlet-name>
        <servlet-class>servlets.ejemplo5.ShowRequestHeaders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCGIVariables</servlet-name>
        <servlet-class>servlets.ejemplo6.ShowCGIVariables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEngines</servlet-name>
        <servlet-class>servlets.ejemplo7.SearchEngines</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrimeNumbers</servlet-name>
        <servlet-class>servlets.ejemplo8.PrimeNumbers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gestor</servlet-name>
        <servlet-class>servlets.gestion.Gestor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calculadora</servlet-name>
        <servlet-class>servlets.ejercicio2.Calculadora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Origen</servlet-name>
        <servlet-class>servlets.ejercicio2.Origen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Goto</servlet-name>
        <servlet-class>servlets.ejercicio2.Goto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSession</servlet-name>
        <servlet-class>servlets.ejemplo9.ShowSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Principio</servlet-name>
        <servlet-class>servlets.ejercicio2.Principio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprobadorCookies</servlet-name>
        <servlet-class>servlets.ejemplo10.ComprobadorCookies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HolaMundo</servlet-name>
        <url-pattern>/HolaMundo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloWWW2</servlet-name>
        <url-pattern>/HelloWWW2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThreeParams</servlet-name>
        <url-pattern>/ThreeParams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowParameters</servlet-name>
        <url-pattern>/ShowParameters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRequestHeaders</servlet-name>
        <url-pattern>/ShowRequestHeaders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCGIVariables</servlet-name>
        <url-pattern>/ShowCGIVariables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEngines</servlet-name>
        <url-pattern>/SearchEngines</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrimeNumbers</servlet-name>
        <url-pattern>/PrimeNumbers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gestor</servlet-name>
        <url-pattern>/Gestor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calculadora</servlet-name>
        <url-pattern>/Calculadora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Origen</servlet-name>
        <url-pattern>/Origen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Goto</servlet-name>
        <url-pattern>/Goto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSession</servlet-name>
        <url-pattern>/ShowSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Principio</servlet-name>
        <url-pattern>/Principio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprobadorCookies</servlet-name>
        <url-pattern>/ComprobadorCookies</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
